<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div class="ui:flex ui:flex-col ui:gap-2">
  <h5>
    <a [routerLink]="detailUrl()?.link">{{ record().metadata.name }}</a>
  </h5>
  <div class="ui:flex ui:gap-1">
    <p-tag [value]="$any(record().metadata.organisation).name" />
    @if(validationSeverity) {
      <p-tag [severity]="validationSeverity" [value]="$any(record().metadata.validation).status | translate" />
    }
  </div>
  <span>
    <i class="fa-solid fa-calendar-days"></i>&nbsp;
    {{ $any(record().metadata.startDate) | dateTranslate: 'mediumDate' }} -
    @if(record().metadata?.endDate) {
      {{ $any(record().metadata.endDate) | dateTranslate: 'mediumDate' }}
    } @else {
      ?
    }
  </span>
</div>
