<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (statistics(); as stats) {
  <dl class="metadata">
    <dt translate>Document views</dt>
    <dd>{{ stats['record-view'].count }}</dd>
  </dl>
  <p-divider />
  <h6 translate>File downloads</h6>
  <dl class="metadata">
    @for (file of filteredFiles(); track $index) {
      @let key = $any(file.key);
      <dt>
        @if (file.label) {
          <span [pTooltip]="key" tooltipPosition="top">{{ file.label }}</span>
        } @else {
          {{ key }}
        }
      </dt>
      <dd>{{ stats['file-download'][key]?.count ?? 0 }}</dd>
    }
  </dl>
}
