<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (field()) {
  <dl class="metadata">
    <dt>{{ label() }}</dt>
    <dd>
      @if(type() === 'array') {
        <ul class="ui:list-none">
          @for (value of $any(field()); track $index; let last=$last; let index=$index) {
            <li>
              @if (template()) {
                <ng-container *ngTemplateOutlet="template(); context: { $implicit: value, last, index }"/>
              } @else {
                {{ value }}
              }
            </li>
          }
        </ul>
      }
      @else {
        @if (template()) {
          <ng-container *ngTemplateOutlet="template(); context: { $implicit: field() }"/>
        } @else {
          {{ field() }}
        }
      }
    </dd>
  </dl>
}
