<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (styles().length > 0) {
  @if (message()) {
    <p-message class="ui:mb-4" [severity]="messageType()">{{ message() }}</p-message>
  }
  <div class="ui:grid ui:grid-cols-[250px_1fr] ui:gap-2">
    <div class="ui:border ui:rounded-md ui:border-gray-300 ui:p-2">
      <ul class="ui:list-none ui:m-0 ui:p-0">
        @for(style of styles(); track $index) {
          <li class="ui:mb-2"><button type="button" class="ui:border-0 ui:bg-transparent ui:cursor-pointer ui:p-0 ui:text-base" [class.ui:font-bold]="style.id === selectedStyle()" (click)="cite(style.id)">{{ style.label }} ({{ style.version }})</button></li>
        }
      </ul>
    </div>
    <div class="ui:border ui:rounded-md ui:border-gray-300 ui:flex ui:flex-col ui:gap-2 ui:p-2">
      @let html = citation();
      @if(html) {
        <span [innerHTML]="html | nl2br"></span>
        <i class="fa fa-clipboard ui:text-muted-color ui:mt-2" aria-hidden="true" (click)="copy()" [title]="'Copy to the Clipboard' | translate"></i>
      } @else {
        <span translate>Select a style on the left</span>
      }
    </div>
  </div>
  <div class="ui:mt-3 ui:font-bold" translate>Be sure to check the citation before using it</div>
}
