<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if(user() && deposit() && deposit().status === 'to_validate' && user()!.is_moderator) {
  <p-panel [header]="'Deposit review' | translate">
    <div class="ui:flex ui:justify-center">
      <textarea
        class="ui:min-w-lg ui:my-4"
        pTextarea
        [autoResize]="true"
        [placeholder]="'Leave a comment for the user...' | translate"
        [ngModel]="comment()" (ngModelChange)="comment.set($event)"
      ></textarea>
    </div>
    <ng-template #footer>
      <div class="ui:flex ui:gap-2 ui:justify-center">
        <p-button
          severity="success"
          icon="fa-solid fa-check"
          (onClick)="review('approve', true)"
          [label]="'Validate' | translate"
        />
        <p-button
          severity="primary"
          icon="fa-solid fa-check-double"
          (onClick)="review('approve')"
          [label]="'Validate and see other deposits' | translate"
        />
        <p-button
          severity="warn"
          icon="fa-solid fa-pen-to-square"
          (onClick)="review('ask_for_changes')"
          [label]="'Ask for changes' | translate"
        />
        <p-button
          severity="danger"
          icon="fa-solid fa-xmark"
          (onClick)="review('reject')"
          [label]="'Reject' | translate"
        />
    </div>
    </ng-template>
</p-panel>
}
